<%- include('header'); -%>

    <h2>This is an about page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quos recusandae velit voluptates ipsam quidem iure, totam dicta alias ab est ex quod veritatis delectus consequatur quae? Temporibus, aut perferendis.</p>

<%- include('footer'); -%>